@import '../shared/sharedCard.scss';

.SignupContainer{
@include sharedStyles();

  .HeaderContainer{
    padding: 20px 0;
    h1,p{
      margin: 0;
      color: rgb(233, 71, 53);
    }
    hr{
      width: 80%;
      border: 1px solid rgb(233, 71, 53);
      outline: none;
    }
    p{
      color: brown;
      margin:  0 auto;
    }
  }
  .InputContainer{
    width: 70%;
    margin: 0 auto;
  }
}
