@import '../shared/sharedCard.module.scss';

.SigninContainer{
  @include sharedStyles();
  .HeaderContainer{
     padding: 20px 0;
    p{
      margin: 0;
      color: rgb(233, 71, 53);
    }
  }
  .InputContainer{
    @include inputContainer();
  }
   button{
      border: none;
      border-radius: 5px;
      margin-top: 30px;
      outline: none;
      background: #FF5151;
      padding: 10px 15px;
      font-size: 17px;
      color: #fff;
      transition: all 0.3s ease-in-out;
      &:hover{
        box-shadow: -2px 6px 12px -1px rgba(0,0,0,0.75);
        -webkit-box-shadow:0px 6px 12px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 6px 12px -1px rgba(0,0,0,0.75);
        cursor: pointer;
        transform: scale(1.05);
      }
    }
}